<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>添加医生</title>
  <script src="js/jquery.js"></script>
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  <link href="css/default-theme.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap-reset.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
</head>

<body class="sticky-header">
<div class="header-section">
  <div class="kouhao"><img src="img/logo1.png">智慧之眼</div>
  <div class="pull-right userdt"><img src="img/img2.jpg">医生</div>
</div>
  <section>
    <div class="sidebar-left">
      <div class="sidebar-left-info">
        <div class=" search-field"> </div>
        <ul class="nav nav-pills nav-stacked side-navigation">
          <li class="active">
            <a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> <span>控制台</span></a>
          </li>
          <li class="menu-list">
            <a href="">
              <i class="fa fa-wheelchair-alt"></i> <span>患者管理</span>
            </a>
            <ul class="child-list">
              <li><a th:href="@{/add-patient}">添加患者</a></li>
              <li><a th:href="@{/patient-list}">患者列表</a></li>
              <li><a th:href="@{/data-query}">数据查询</a></li>
            </ul>
          </li>
          <li class="menu-list">
            <a href="">
              <i class="fa fa-address-photo"></i> <span>图像管理</span>
            </a>
            <ul class="child-list">
              <li><a th:href="@{/fundus-image-history}">眼底图像历史记录</a></li>
            </ul>
          </li>
          <li class="menu-list">
            <a href="">
              <i class="fa fa-address-book"></i> <span>眼底图像诊断</span>
            </a>
            <ul class="child-list">
              <li><a th:href="@{/UploadDualEyeImages}">双眼图像上传与诊断</a></li>
              <li><a th:href="@{/eye-image-upload-single}">双眼图像上传与诊断-单批</a></li>
            </ul>
          </li>
          <li class="menu-list">
            <a href="">
              <i class="fa fa-user-md"></i> <span>医生管理</span>
            </a>
            <ul class="child-list">
              <li><a th:href="@{/add-doctor}">添加医生</a></li>
              <li><a th:href="@{/doctor-list}">医生列表</a></li>
            </ul>
          </li>
          <li class="menu-list">
            <a href="javascript:;">
              <i class="fa fa-pie-chart"></i> <span>统计管理</span>
            </a>
            <ul class="child-list">
              <li><a th:href="@{/statistics}">统计管理</a></li>
            </ul>
          </li>
          <li class="menu-list">
            <a href="">
              <i class="fa fa-cog"></i> <span>系统设置</span>
            </a>
            <ul class="child-list">
              <li><a th:href="@{/change-password}">修改密码</a></li>
              <li><a th:href="@{/system-help}">系统使用说明</a></li>
              <li><a th:href="@{/personal-info}">个人信息</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="body-content">
      <div class="page-head clearfix">
        <ol class="breadcrumb pull-left">
          <li><a href="#"><i class="fa fa-user-md"></i>医生管理</a></li>
          <li class="active">添加医生</li>
        </ol>
        <div class="pull-right breadcrumbtn">
          <a href="#" class="btn btn-primary">保存</a>
        </div>
      </div>
      <div class="wrapper">

        <section class="panel">
          <header class="panel-heading head-border">添加医生</header>

          <div class="panel-body">
            <ul class="row row2" style="max-width: 900px;">
              <li class="col-xs-6">
                <div class="form1">

                  <ul class="row">
                    <li class="col-xs-12"> <span>姓名：</span>
                      <input type="text" class="form-control">
                    </li>

                    <li class="col-xs-12"> <span>联系方式：</span>
                      <input type="text" class="form-control">
                    </li>
                    <li class="col-xs-12"> <span>登录账号：</span>
                      <input type="text" class="form-control">
                    </li>
                    <li class="col-xs-12"> <span>所在科室：</span>
                      <input type="text" class="form-control">
                    </li>
                    <li class="col-xs-12"> <span>角色：</span>
                      <input type="text" class="form-control">
                    </li>

                  </ul>

                </div>
              </li>
              <li class="col-xs-6">

                <div class="form1">

                  <ul class="row">

                    <li class="col-xs-12 flex1"> <span>头像：</span>
                      <div><a style="margin: 0;" href="#" class="file2"><input type="file"><span>添加头像</span></a>
                      </div>
                    </li>

                    <li class="col-xs-12"> <span>密码：</span>
                      <input type="text" class="form-control">
                    </li>
                    <li class="col-xs-12"> <span>职称：</span>
                      <input type="text" class="form-control">
                    </li>

                  </ul>



                </div>

              </li>


              <li class="col-xs-12">

                <div class="form1">

                  <ul class="row">

                    <li class="col-xs-12"> <span>医生简介：</span>
                      <textarea class="form-control" style="min-height: 200px;"></textarea>
                    </li>


                  </ul>



                </div>

              </li>

            </ul>


          </div>
        </section>
      </div>
    </div>
  </section>


  <script src="js/bootstrap.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/echarts.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="laydate/laydate.js"></script>
  <script>
    lay('#version').html('-v' + laydate.v);
    laydate.render({
      elem: '#test1'
      , range: true
      , theme: '#1890ff'
    });
  </script>

  <script>
    $(function () {
      $('#owl-demo').owlCarousel({
        navigation: true,
        items: 4,
        navigationText: ["<", ">"]
      });
    });
  </script>
</body>

</html>